<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Page Not Found :(</title>
    <link href="~/Content/ErrorContent/css.css" rel="stylesheet" />
    <script src="~/Content/ErrorContent/js.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
    <body>

    <div class="unicorn"></div>
    <div class="container">
        <div class="four-oh-four"><h1>404 Error</h1></div>
        <div class="warning">
            <h2>İstediğiniz Sayfaya Gitmek İsterken Bir Hata Oluştu.</h2>
            <a href="/Home/Index">Anasayfaya Dönmek İçin Tıklayınız.</a>
        </div>
    </div><!-- /.container -->                             
    </body>
</html>

