
@{
    ViewBag.Title = "AccountSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-9">
    <div class="col-md-12 page-body">
        <div class="row">
            <div class="col-md-12 content-page">
                <div class="col-md-12 blog-post">
                    <h3>Kullanıcı Ayarları</h3>
                    <p><a href="/Member/AppUser/AppUserUpdate"> Kullanıcı Bilgilerini Güncelle</a></p>
                    <p><a href="/Member/AppUser/PasswordChange"> Şifre Değiştir</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

